* {
  margin: 0;
}  

html, body {
  background-image: url( "/images/background.png" );
	background-color: #ffffff;
	background-position: bottom;
	height: 100%;
	text-align: center;
	background-attachment: fixed;
	background-repeat: repeat-x; 
	font-family: 'Droid Sans', sans-serif;
}

div#logo {
	position: absolute;
	height: 42px;
	width: 300px;
	left: 160px;
	top: 55px;
}           

div#content {     
	text-align: left;
	position: absolute;
	left: 190px; 
	top: 115px;
	height: auto; 
	width: 950px;  
	font-size: 1.2em; 
	padding-bottom: 40px; 
}                   

div#content p {
	margin: 0px 0px 10px 0px;	              
} 

div#content a {
	text-decoration: underline;  
	color: #333333;  
}   

div#content code {
	font-size: 1.1em;	
} 

div#content pre {
	margin-top: 5px;
}

div#content a:hover {
  text-decoration: none;	
}

div#content h2 {
  font-size: 1.1em;
  margin-top: 10px;            
} 

div#content h3 {
  font-size: 0.7em;  
  font-style: italic;
  margin-bottom: 10px;             
} 

div#code {   
	font-size: 1.2em;
	width: auto;
}  

div#menu {        
	position: absolute; 
	top: 0px;
  left: 30px;
	text-align: right;
	margin-top: 0px;    
	width: 90%;  
	min-width: 1100px;  
}      

div#menu a {
	font-size: 1.1em;   
	font-style: bold;
	text-decoration: none;
	color: #333333;  
} 

div#menu li:hover {
	background-color: #c8c8c8;  
}  

div#menu img {
	vertical-align: middle;
}
  
div#menu ul {
	padding: 0;
	margin: 0;
	list-style:none; 
}          

div#menu li {
	display: inline; 
  list-style-type: none;	
	padding: 13px 8px 8px 10px;
	margin: 0px 10px 0px 0px; 
	background-color: #e6e6e6;  
	border-radius: 0px 0px 7px 7px;
	moz-border-radius: 0px 0px 7px 7px;  
}  

div#news {        
  position: absolute; 
  top: 38px;
  left: 20px;
  text-align: right;
  color: #666666;
  margin-top: 0px;    
  width: 90%;  
  min-width: 800px;  
}  

div#news a {        
  color: #666666;
  text-decoration: undeline:
}
  
div#news a:hover {        
  color: #666666;
  text-decoration: none;
}  

div#news img {
  vertical-align: middle;
}

div#footer {    
	font-family: 'Dancing Script', cursive;
	font-size: 1.5em;
	color: #ffffff;
  position: fixed;
  bottom: 15px;
  right: 15px;   
}  

div#footer img {
	vertical-align: middle;
} 

.gist .gist-file .gist-meta {
  font-size: 60% !important;
}    

.gist .gist-file .gist-data {
  font-size: 80% !important;
}    
