<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
	  <meta charset='utf-8'>
	  <title>{{ page.title }}</title>
	  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'> 
	  <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>   
	  <link rel="stylesheet" type="text/css" href="/style/style.css">  
	  <link rel="stylesheet" type="text/css" href="/style/syntax.css">  
	  <link rel="shortcut icon" href="images/favicon.png">  
	  <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="Restfuse News" />
	</head>

	<body>
	  <!-- Google Analytics -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-21147637-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	  <!-- twitter follow badge by go2web20 -->
		<script src='js/badge.js' type='text/javascript'></script><script type='text/javascript' charset='utf-8'><!--
		tfb.account = 'eclipsesource';
		tfb.label = 'follow-us';
		tfb.color = '#9cb3d1';
		tfb.side = 'r';
		tfb.top = 80;
		tfb.showbadge();
		--></script>
		<!-- end of twitter follow badge -->
	
	  <div id="logo"><a href="http://restfuse.com"><img src="/images/logo.png" alt="restfust"/></a></div> 
	  
	  <div id="footer">brought to you by <a href="http://eclipsesource.com"><img src="/images/es-logo.png" alt="EclipseSource"/></a></div>

		<div id="menu">  
		  <ul>
		    <li><a href="/download/"><img src="/images/icon-download.png"/> Download</a></li>  
		    <li><a href="/doc/index.html?com/eclipsesource/restfuse/annotation/HttpTest.html"><img src="/images/icon-doc.png"/> Documentation</a></li> 
		    <li><a href="https://github.com/eclipsesource/restfuse/wiki"><img src="/images/icon-wiki.png"/> Wiki</a></li> 
		    <li><a href="http://eclipsesource.com/blogs"><img src="/images/icon-es.png"/> Blog</a></li>
		    <li><a href="http://search.maven.org/#artifactdetails%7Ccom.restfuse%7Ccom.eclipsesource.restfuse%7C1.0.0%7Cjar"><img src="/images/icon-maven.png"/> Maven</a></li>   
		    <li><a href="/p2/"><img src="/images/icon-eclipse.png"/> p2</a></li>  
		    <li><a href="https://github.com/eclipsesource/restfuse"><img src="/images/icon-github.png"/> Sources</a></li>  	
		  </ul>  	
		</div>
		
		<div id="news">
		 {% assign first_post = site.posts.first %} 
		 <a href="/rss.xml" title="RSS Feed"><img src="/images/rss.png" alt="rss"/></a> latest news: <a href="{{ first_post.url }}" title="{{ first_post.title }}">{{ first_post.title }}</a> | <a href="/archive" title="News Archive">archive</a>
		</div>
    
		<a href="http://github.com/eclipsesource/restfuse"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>      

	  <div id="content"> 
		  {{ content }}		
	  </div> 
	  
	</body>
</html>

